<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.WebsiteConfigMapper">

    <resultMap id="BaseResultMap" type="com.minzheng.blog.entity.WebsiteConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="config" column="config" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,config
    </sql>
</mapper>
